<%- include("partials/header.ejs") %>
<main>
    <div class="about">
    <img src="/images/200.gif" alt="Animated gif">
    <div class="line"></div>
    <h1>About Me:</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Mi sollicitudin pretium pellentesque a cras efficitur orci augue feugiat. Ex dapibus placerat ante torquent lobortis. Arcu bibendum pulvinar purus neque adipiscing nostra hendrerit felis suscipit. Duis nec ante imperdiet tempor sollicitudin tempus sed duis. Ornare ornare phasellus litora pulvinar nam libero donec. Turpis platea elit donec condimentum per arcu.</p>

    <p>Volutpat volutpat eros finibus natoque curae bibendum. Cras adipiscing suspendisse magna magnis est curabitur aliquet. Tortor himenaeos molestie proin turpis est. Euismod habitasse consequat ante mollis curabitur, ultrices eget. Vel felis facilisi non metus quisque fermentum, purus eget. Urna mauris dictumst mi id lacus. Egestas magna tortor commodo volutpat pharetra phasellus proin.</p>
        
    <p>Sit aptent senectus convallis magnis eros dis pellentesque. Eget class praesent augue ut; ullamcorper hendrerit egestas. Commodo commodo tristique taciti vitae enim fusce nibh morbi. Vitae egestas class malesuada diam ridiculus enim ligula maecenas erat. Euismod lobortis turpis aptent non magnis. Lacinia dignissim netus aptent quam, ante rhoncus quam. Platea porttitor nunc id, mi quisque bibendum.</p>
    </div>
</main>

<%- include("partials/footer.ejs") %>