<%- include("partials/header.ejs") %>
<div class="container-contact">

<form>
    <h1 style="margin-top: 40px;">Contact me:</h1>
    <div class="line" style="width: 400px;margin-top: 20px;"></div>
    <input type="text" name="name" placeholder="Enter your name" class="input-field">
    <input type="text" name="subject" placeholder="Enter subject" class="input-field">
    <input type="email" name="email" placeholder="Enter your email" class="input-field">
    <textarea type="text" placeholder="Your message" class="input-field desc" ></textarea>
    <button type="button" class="btn">Submit</button>
</form>

</div>

<%- include("partials/footer.ejs") %>